@use "../utils/theme";
@use "../utils/mixins";

.contact {
  @include mixins.responsive(theme.$small-screen) {
    .contact__title {
      font-size: theme.$fontxxl;
    }
    .contact__container {
      text-align: center;
      gap: 0;
      display: flex;
      flex-direction: column; // Stack items vertically
      justify-content: center; // Center vertically
      align-items: center; // Center horizontally
    }
    .contact__form {
      h2 {
        font-size: theme.$fontxl;
      }
    }
    .contact__info {
      display: none;
    }
  }
  @include mixins.responsive(theme.$large-screen) {
    .contact__title {
      font-size: theme.$fontxxl;
    }
    .contact__container {
      text-align: center;
      gap: 0;
      display: grid;
      flex-direction: column; // Stack items vertically
      grid-template-columns: 1fr 1fr;
      justify-content: center; // Center vertically
      align-items: center; // Center horizontally
    }
    .contact__form {
      h2 {
        font-size: theme.$fontxl;
      }
    }
    .contact__info {
      display: block;
    }
  }

  background-color: theme.$body-rgba;
  padding: 40px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
  }

  &__title {
    font-size: 5rem;
    color: theme.$text;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__info,
  &__form {
    margin-bottom: 2rem;

    h2 {
      font-size: theme.$fontxl;
      color: theme.$grey;
      margin-bottom: 1rem;
    }
  }

  /* Contact form */
  &__form {
    form {
      display: flex;
      flex-direction: column;
    }
    label {
      font-size: 1.2rem;
      color: theme.$grey;
      margin-bottom: 0.5rem;
    }
    input,
    textarea {
      padding: 10px;
      margin-bottom: 1rem;
      border: 1px solid #555;
      border-radius: 15px;
      background-color: #444;
      color: theme.$text;
      font-size: theme.$fontlg;
    }
    input {
      &:hover,
      textarea:hover {
        opacity: 0.8;
      }

      &:focus,
      textarea:focus {
        background-color: theme.$text;
        color: theme.$body-rgba;
        font-family: "sirin stencil";
      }
    }

    button {
      background-color: theme.$text;
      color: theme.$body-rgba;
      padding: 10px 20px;
      font-size: 1.2rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: opacity 0.3s, box-shadow 0.3s;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }

  /* Contact info */
  &__info {
    margin-left: 100px;
    align-items: center;

    p {
      color: #777;
      font-size: theme.$fontlg;
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: theme.$text;
      }
    }
  }

  /* Social links */

  &__info__social-links {
    h3 {
      font-size: 2.5rem;
      color: theme.$grey;
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: theme.$text;
      font-size: 1.2rem;
      border: 1px solid theme.$text;
      padding: 5px 10px;
      border-radius: 3px;
      &:hover {
        background-color: theme.$text;
        color: #333;
      }
    }
  }
}
