@use "../utils/theme";
@use "../utils/mixins";
.footer {
  @include mixins.responsive(theme.$small-screen) {
    position: relative;
  }
  background-color: theme.$body;
  color: theme.$text;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: theme.$fontmd;
  }
}
