@use "../utils/theme";
@use "../utils/mixins";

.header {
  @include mixins.responsive(theme.$small-screen) {
    .header__nav__list {
      display: none;
    }
    .header__nav__logo {
      display: none;
    }
  }
  @include mixins.responsive(theme.$medium-screen) {
    .header__nav {
      &__logo {
        margin-right: 1em;
        display: inline;
      }
      &__list {
        position: static; // Reset the position for larger screens
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        right: auto;
        margin-left: 2.5em;
      }

      &__item {
        margin: 25px; // Reset margin for items
      }
    }
  }
  @include mixins.responsive(theme.$large-screen) {
    .header__nav {
      &__logo {
        margin-right: 1em;
        display: inline;
      }
      &__list {
        position: static; // Reset the position for larger screens
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        right: auto;
        margin-left: 2.5em;
      }

      &__item {
        margin: 50px; // Reset margin for items
      }
    }
  }
  @include mixins.responsive(theme.$pc-screen) {
    .header__nav {
      &__logo {
        margin-left: 3.5em;
        display: static;
      }
      &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 35rem;
      }

      &__item {
        margin: 2.5rem; // Reset margin for items
      }
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: theme.$body-rgba;
  padding: 1rem;

  &__nav {
    display: flex;
    align-items: space-between;

    &__logo {
      height: theme.$fontxxxl;
      width: auto;
      margin: 1rem;
      cursor: pointer;
      border-radius: 50px;
      &:hover {
        opacity: 0.4;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 35rem;
    }

    &__item {
      margin: 2.5rem;
    }

    &__item a {
      color: theme.$text;
      text-decoration: none;
      font-size: theme.$fontlg;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
