// scss code here
@use "./utils/theme";
@use "./utils/mixins";
@use "./components/header";
@use "./components/home_section";
@use "./components/about_section";
@use "./components/shop_section";
@use "./components/collections_section";
@use "./components/contact_section";
@use "./components/footer";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kaushan Script";
  src: url(../assets/fonts/KaushanScript-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "sirin stencil";
  src: url(../assets/fonts/SirinStencil-Regular.ttf) format("truetype");
}

body {
  color: theme.$body;
  font-family: "sirin stencil";
  padding-bottom: 50px;
  overflow-x: hidden;
}
