// scss code here
@use "./theme";
@use "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kaushan Script";
  src: url(../assets/fonts/KaushanScript-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "sirin stencil";
  src: url(../assets/fonts/SirinStencil-Regular.ttf) format("truetype");
}

body {
  color: theme.$body;
  font-family: "sirin stencil";
  padding-bottom: 50px;
  overflow-x: hidden;
}

/* TODO: HEADER */
.header {
  @include mixins.responsive(theme.$small-screen) {
    .header__nav__list {
      display: none;
    }
    .header__nav__logo {
      display: none;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: theme.$body-rgba;
  padding: 1rem;

  &__nav {
    display: flex;
    align-items: space-between;

    &__logo {
      height: theme.$fontxxxl;
      width: auto;
      margin: 1rem;
      cursor: pointer;
      border-radius: 50px;
      &:hover {
        opacity: 0.4;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 35rem;
    }

    &__item {
      margin: 2.5rem;
    }

    &__item a {
      color: theme.$text;
      text-decoration: none;
      font-size: theme.$fontlg;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* TODO: HOME SECTION */
.home {
  @include mixins.responsive(theme.$small-screen) {
    .home__title {
      position: static;
      top: 15%;
      color: theme.$body-rgba;
      margin: 2rem;
      h1 {
        font-size: theme.$fontlg;
        cursor: pointer;
      }
      h2 {
        display: none;
      }
    }
    .home__cover-video {
      width: 100vw;
    }
  }
  &__title {
    position: absolute;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: theme.$text;
    h1 {
      font-family: "Kaushan Script";
      font-size: theme.$fontBig;
      text-shadow: 1px 1px 1px #202020;
    }

    h2 {
      font-family: "sirin stencil";
      font-size: theme.$fontxl;
    }
  }

  &__cover-video {
    opacity: 0.8;
    width: 99.2vw;
  }
}

/* TODO: ABOUT SECTION */
.about {
  @include mixins.responsive(theme.$small-screen) {
    .about__content {
      text-align: center;
    }
    .about__content--effect {
      display: none;
    }
  }
  background-color: theme.$background; /* Set a background color */
  padding: 40px; /* Add some padding to the section */
  padding-bottom: theme.$fontBig - 2em;

  &__title {
    font-size: theme.$fontxxxl;
    color: theme.$body-rgba;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__content {
    overflow: hidden;
    font-size: theme.$fontlg;
    color: theme.$body;
    line-height: 1.6;
    text-align: justify;
    position: relative;
    align-self: center;
  }

  &__content--effect {
    @include mixins.type-effect(8s, 183);
  }
}

/* TODO: SHOP SECTION */

.shop {
  @include mixins.responsive(theme.$small-screen) {
    .shop__filter-container {
      text-align: center;
    }
    .shop__image-container {
      padding: 3em;
      max-width: 300px; /* Set maximum width for image on small screens */
    }
  }
  background-color: theme.$body-rgba; /* Set the background color */
  padding: 40px; /* Add padding to the section */

  &__title {
    font-size: theme.$fontxxxl;
    color: theme.$text;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__filter-container {
    margin-bottom: 2em;
    &__filter-options {
      color: theme.$text;
      label {
        font-size: theme.$fontlg;
        margin-right: 20px; /* Add spacing between checkboxes and labels */
      }
    }
  }

  &__image-container {
    padding: 3em;
    @include mixins.image-container(theme.$dark, 20);
  }

  &__explore-btn {
    text-align: center;
    button {
      @include mixins.explore-btn(
        theme.$text,
        theme.$body-rgba,
        theme.$border-radius
      );
    }
  }
}

/* TODO: COLLECTIONS SECTION */
.collections {
  @include mixins.responsive(theme.$small-screen) {
    .collections__title {
      font-size: theme.$fontlg + 3;
    }
    .collections__filter-container {
      text-align: center;
    }
  }
  background-color: theme.$background;
  padding: 40;

  &__title {
    font-size: theme.$fontxxxl;
    color: theme.$body-rgba;
    text-align: center;
    margin: 2rem;
  }

  &__filter-container {
    margin-bottom: 2rem;
    text-align: center;

    label {
      display: block;
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 20px;
    }

    select {
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 2rem;
      font-family: "sirin stencil";
      border-radius: 15px;
    }
  }

  &__image-container {
    padding: 3em;
    @include mixins.image-container(theme.$grey, 2rem);
  }

  &__explore-btn {
    text-align: center;
    button {
      @include mixins.explore-btn(
        theme.$body-rgba,
        theme.$text,
        theme.$border-radius
      );
    }
  }
}

/* TODO: CONTACT SECTION */
.contact {
  @include mixins.responsive(theme.$small-screen) {
    .contact__title {
      font-size: theme.$fontlg + 2;
    }
    .contact__container {
      text-align: center;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
    }
    .contact__info {
      display: none;
    }
  }

  background-color: theme.$body-rgba;
  padding: 40px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
  }

  &__title {
    font-size: 5rem;
    color: theme.$text;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__info,
  &__form {
    margin-bottom: 2rem;

    h2 {
      font-size: 2.5rem;
      color: theme.$grey;
      margin-bottom: 1rem;
    }
  }

  /* Contact form */
  &__form {
    form {
      display: flex;
      flex-direction: column;
    }
    label {
      font-size: 1.2rem;
      color: theme.$grey;
      margin-bottom: 0.5rem;
    }
    input,
    textarea {
      padding: 10px;
      margin-bottom: 1rem;
      border: 1px solid #555;
      border-radius: 15px;
      background-color: #444;
      color: theme.$text;
      font-size: theme.$fontlg;
    }
    input {
      &:hover,
      textarea:hover {
        opacity: 0.8;
      }

      &:focus,
      textarea:focus {
        background-color: theme.$text;
        color: theme.$body-rgba;
        font-family: "sirin stencil";
      }
    }

    button {
      background-color: theme.$text;
      color: theme.$body-rgba;
      padding: 10px 20px;
      font-size: 1.2rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: opacity 0.3s, box-shadow 0.3s;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }

  /* Contact info */
  &__info {
    margin-left: 100px;

    p {
      color: #777;
      font-size: 2rem;
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: theme.$text;
      }
    }
  }

  /* Social links */

  &__info__social-links {
    h3 {
      font-size: 2.5rem;
      color: theme.$grey;
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    ul {
      display: flex;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: theme.$text;
      font-size: 1.2rem;
      border: 1px solid theme.$text;
      padding: 5px 10px;
      border-radius: 3px;
      &:hover {
        background-color: theme.$text;
        color: #333;
      }
    }
  }
}

/* FOOTER STYLES */
.footer {
  @include mixins.responsive(theme.$small-screen) {
    position: relative;
  }
  background-color: theme.$body;
  color: theme.$text;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: theme.$fontmd;
  }
}
