// TODO: Theme of color and font size
$body: #202020;
$text: #fff;
$background: #f8f8f8;
$body-rgba: rgba(32, 32, 32);
$dark: rgb(0, 0, 0);

$grey: #bebebe;

$fontxs: 0.75em; // 1em = 16px
$fontsm: 0.875em;
$fontmd: 1em;
$fontlg: 1.25em;
$fontxl: 2em;
$fontxxl: 3em;
$fontxxxl: 5em;
$fontBig: 10em;

$border-radius: 2em;

$small-screen: 300px;
$medium-screen: 700px;
$large-screen: 990px;
$pc-screen: 1500px;
